flow.json
[
    {
        "id": "e6522ded6650bf79",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3253b560e5f2a117",
        "type": "ioplugin",
        "name": "",
        "username": "",
        "password": "",
        "boardType": "firmata",
        "serialportName": "COM4",
        "connectionType": "local",
        "mqttServer": "",
        "pubTopic": "",
        "subTopic": "",
        "tcpHost": "",
        "tcpPort": "",
        "sparkId": "",
        "sparkToken": "",
        "beanId": "",
        "impId": "",
        "uuid": "",
        "token": "",
        "sendUuid": "",
        "samplingInterval": "500"
    },
    {
        "id": "bcb42a6d591d335f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "ve036.mydns.jp",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "300",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "61e2ebcdff454172",
        "type": "arduino-board",
        "device": "COM4"
    },
    {
        "id": "4406b640b3eccc85",
        "type": "ui_tab",
        "name": "ホーム",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "909f57148a769114",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED ダッシュボード",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY/MM/DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cf2a6e490fec8c09",
        "type": "ui_group",
        "name": "デフォルト",
        "tab": "4406b640b3eccc85",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "79afad74dba0433a",
        "type": "mqtt-broker",
        "name": "RKB",
        "broker": "210.203.214.250",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "600",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5df244d1ea1a9b0a",
        "type": "debug",
        "z": "e6522ded6650bf79",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 120,
        "wires": []
    },
    {
        "id": "108cdb9394810694",
        "type": "mqtt out",
        "z": "e6522ded6650bf79",
        "name": "",
        "topic": "wlac",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bcb42a6d591d335f",
        "x": 370,
        "y": 300,
        "wires": []
    },
    {
        "id": "089463f11b52e151",
        "type": "gpio in",
        "z": "e6522ded6650bf79",
        "name": "",
        "state": "PULLUP",
        "pin": "12",
        "board": "3253b560e5f2a117",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "5df244d1ea1a9b0a",
                "108cdb9394810694",
                "1c3e2f0dce6c88bf",
                "e889c1b149afc2be"
            ]
        ]
    },
    {
        "id": "91da2d08f32f5a7a",
        "type": "ui_button",
        "z": "e6522ded6650bf79",
        "name": "",
        "group": "cf2a6e490fec8c09",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "T2PS5R",
        "tooltip": "",
        "color": "",
        "bgcolor": " {{msg.background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 860,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "1c3e2f0dce6c88bf",
        "type": "switch",
        "z": "e6522ded6650bf79",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "324bbe49c08785a9"
            ],
            [
                "572c9675ec3702bd"
            ]
        ]
    },
    {
        "id": "324bbe49c08785a9",
        "type": "change",
        "z": "e6522ded6650bf79",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "91da2d08f32f5a7a"
            ]
        ]
    },
    {
        "id": "572c9675ec3702bd",
        "type": "change",
        "z": "e6522ded6650bf79",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "black",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "91da2d08f32f5a7a"
            ]
        ]
    },
    {
        "id": "e889c1b149afc2be",
        "type": "change",
        "z": "e6522ded6650bf79",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wlac",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "6fca3a4d35fd7347",
        "type": "inject",
        "z": "e6522ded6650bf79",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "wlac",
        "payloadType": "flow",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "108cdb9394810694"
            ]
        ]
    },
    {
        "id": "4a1ef11dd1982725",
        "type": "inject",
        "z": "e6522ded6650bf79",
        "name": "0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "e889c1b149afc2be",
                "108cdb9394810694"
            ]
        ]
    },
    {
        "id": "3cb28037bac886fd",
        "type": "inject",
        "z": "e6522ded6650bf79",
        "name": "1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "108cdb9394810694",
                "e889c1b149afc2be"
            ]
        ]
    },
    {
        "id": "0375cc7b3aa54146",
        "type": "debug",
        "z": "e6522ded6650bf79",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 400,
        "wires": []
    },
    {
        "id": "e70d097468363f03",
        "type": "mqtt out",
        "z": "e6522ded6650bf79",
        "name": "",
        "topic": "wlbc",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bcb42a6d591d335f",
        "x": 370,
        "y": 580,
        "wires": []
    },
    {
        "id": "554839e1eb08ee3e",
        "type": "gpio in",
        "z": "e6522ded6650bf79",
        "name": "",
        "state": "PULLUP",
        "pin": "23",
        "board": "3253b560e5f2a117",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "0375cc7b3aa54146",
                "e70d097468363f03",
                "e1d1fce6875a9063",
                "8fc5ad376ceb5f9e"
            ]
        ]
    },
    {
        "id": "b43279896db86d28",
        "type": "ui_button",
        "z": "e6522ded6650bf79",
        "name": "",
        "group": "cf2a6e490fec8c09",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "wlbc",
        "tooltip": "",
        "color": "",
        "bgcolor": " {{msg.background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 850,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "e1d1fce6875a9063",
        "type": "switch",
        "z": "e6522ded6650bf79",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 520,
        "wires": [
            [
                "70909412fa50c06b"
            ],
            [
                "31ec79e45fbc00ee"
            ]
        ]
    },
    {
        "id": "70909412fa50c06b",
        "type": "change",
        "z": "e6522ded6650bf79",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 500,
        "wires": [
            [
                "b43279896db86d28"
            ]
        ]
    },
    {
        "id": "31ec79e45fbc00ee",
        "type": "change",
        "z": "e6522ded6650bf79",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "black",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 540,
        "wires": [
            [
                "b43279896db86d28"
            ]
        ]
    },
    {
        "id": "8fc5ad376ceb5f9e",
        "type": "change",
        "z": "e6522ded6650bf79",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wlbc",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "472a76b63819bc26",
        "type": "inject",
        "z": "e6522ded6650bf79",
        "name": "0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "8fc5ad376ceb5f9e",
                "e70d097468363f03"
            ]
        ]
    },
    {
        "id": "8804f46bfb55cbcd",
        "type": "inject",
        "z": "e6522ded6650bf79",
        "name": "1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "e70d097468363f03",
                "8fc5ad376ceb5f9e"
            ]
        ]
    },
    {
        "id": "74a5ae99aed8c714",
        "type": "inject",
        "z": "e6522ded6650bf79",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "wlbc",
        "payloadType": "flow",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "e70d097468363f03"
            ]
        ]
    },
    {
        "id": "28fd38abecda4482",
        "type": "debug",
        "z": "e6522ded6650bf79",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 680,
        "wires": []
    },
    {
        "id": "4525f2a2ab3a0407",
        "type": "mqtt out",
        "z": "e6522ded6650bf79",
        "name": "",
        "topic": "wlcc",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bcb42a6d591d335f",
        "x": 370,
        "y": 860,
        "wires": []
    },
    {
        "id": "c19dbe2e72933dda",
        "type": "gpio in",
        "z": "e6522ded6650bf79",
        "name": "",
        "state": "PULLUP",
        "pin": "24",
        "board": "3253b560e5f2a117",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "28fd38abecda4482",
                "4525f2a2ab3a0407",
                "1b38560e53c2ee5b",
                "abb21a7a52971f0b"
            ]
        ]
    },
    {
        "id": "4bb70810329431ba",
        "type": "ui_button",
        "z": "e6522ded6650bf79",
        "name": "",
        "group": "cf2a6e490fec8c09",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "wlcc",
        "tooltip": "",
        "color": "",
        "bgcolor": " {{msg.background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 850,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "1b38560e53c2ee5b",
        "type": "switch",
        "z": "e6522ded6650bf79",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 800,
        "wires": [
            [
                "2e67341d5310fcee"
            ],
            [
                "2c32d01119d6a172"
            ]
        ]
    },
    {
        "id": "2e67341d5310fcee",
        "type": "change",
        "z": "e6522ded6650bf79",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 780,
        "wires": [
            [
                "4bb70810329431ba"
            ]
        ]
    },
    {
        "id": "2c32d01119d6a172",
        "type": "change",
        "z": "e6522ded6650bf79",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "black",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 820,
        "wires": [
            [
                "4bb70810329431ba"
            ]
        ]
    },
    {
        "id": "abb21a7a52971f0b",
        "type": "change",
        "z": "e6522ded6650bf79",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wlcc",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "84c6d8a081936516",
        "type": "inject",
        "z": "e6522ded6650bf79",
        "name": "0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "abb21a7a52971f0b",
                "4525f2a2ab3a0407"
            ]
        ]
    },
    {
        "id": "b62af7fd559bef6a",
        "type": "inject",
        "z": "e6522ded6650bf79",
        "name": "1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "4525f2a2ab3a0407",
                "abb21a7a52971f0b"
            ]
        ]
    },
    {
        "id": "a4e43e61d140566a",
        "type": "inject",
        "z": "e6522ded6650bf79",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "wlcc",
        "payloadType": "flow",
        "x": 130,
        "y": 860,
        "wires": [
            [
                "4525f2a2ab3a0407"
            ]
        ]
    },
    {
        "id": "f5bf55dbbcb7c310",
        "type": "debug",
        "z": "e6522ded6650bf79",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 100,
        "wires": []
    },
    {
        "id": "1a4de99276cb10ae",
        "type": "mqtt out",
        "z": "e6522ded6650bf79",
        "name": "",
        "topic": "wlah",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bcb42a6d591d335f",
        "x": 1370,
        "y": 280,
        "wires": []
    },
    {
        "id": "a73c9ed012dcc6f5",
        "type": "gpio in",
        "z": "e6522ded6650bf79",
        "name": "",
        "state": "PULLUP",
        "pin": "25",
        "board": "3253b560e5f2a117",
        "x": 1110,
        "y": 100,
        "wires": [
            [
                "f5bf55dbbcb7c310",
                "1a4de99276cb10ae",
                "05682402e4329805",
                "616dad834506956a"
            ]
        ]
    },
    {
        "id": "c7a03fe10153a297",
        "type": "ui_button",
        "z": "e6522ded6650bf79",
        "name": "",
        "group": "cf2a6e490fec8c09",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "wlah",
        "tooltip": "",
        "color": "",
        "bgcolor": " {{msg.background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1850,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "05682402e4329805",
        "type": "switch",
        "z": "e6522ded6650bf79",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1370,
        "y": 220,
        "wires": [
            [
                "1bfb43f47269244f"
            ],
            [
                "8f014d11bc74daaa"
            ]
        ]
    },
    {
        "id": "1bfb43f47269244f",
        "type": "change",
        "z": "e6522ded6650bf79",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 200,
        "wires": [
            [
                "c7a03fe10153a297"
            ]
        ]
    },
    {
        "id": "8f014d11bc74daaa",
        "type": "change",
        "z": "e6522ded6650bf79",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "black",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 240,
        "wires": [
            [
                "c7a03fe10153a297"
            ]
        ]
    },
    {
        "id": "616dad834506956a",
        "type": "change",
        "z": "e6522ded6650bf79",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wlah",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "b450b67a0bfc9082",
        "type": "inject",
        "z": "e6522ded6650bf79",
        "name": "0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1110,
        "y": 160,
        "wires": [
            [
                "616dad834506956a",
                "1a4de99276cb10ae"
            ]
        ]
    },
    {
        "id": "3da09b59d8a9229e",
        "type": "inject",
        "z": "e6522ded6650bf79",
        "name": "1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 1110,
        "y": 220,
        "wires": [
            [
                "1a4de99276cb10ae",
                "616dad834506956a"
            ]
        ]
    },
    {
        "id": "2a1aa5c20c1d772e",
        "type": "inject",
        "z": "e6522ded6650bf79",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "wlbc",
        "payloadType": "flow",
        "x": 1130,
        "y": 280,
        "wires": [
            [
                "1a4de99276cb10ae"
            ]
        ]
    },
    {
        "id": "0ba20ed98e89a2d4",
        "type": "debug",
        "z": "e6522ded6650bf79",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 440,
        "wires": []
    },
    {
        "id": "df833701a3c3ba89",
        "type": "mqtt out",
        "z": "e6522ded6650bf79",
        "name": "",
        "topic": "wlbh",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bcb42a6d591d335f",
        "x": 1370,
        "y": 620,
        "wires": []
    },
    {
        "id": "258a31214c493e8e",
        "type": "gpio in",
        "z": "e6522ded6650bf79",
        "name": "",
        "state": "PULLUP",
        "pin": "26",
        "board": "3253b560e5f2a117",
        "x": 1110,
        "y": 440,
        "wires": [
            [
                "0ba20ed98e89a2d4",
                "df833701a3c3ba89",
                "736167316e1f2823",
                "32eade24f113d2b1"
            ]
        ]
    },
    {
        "id": "384fc77a62a7a75c",
        "type": "ui_button",
        "z": "e6522ded6650bf79",
        "name": "",
        "group": "cf2a6e490fec8c09",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "wlbh",
        "tooltip": "",
        "color": "",
        "bgcolor": " {{msg.background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1850,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "736167316e1f2823",
        "type": "switch",
        "z": "e6522ded6650bf79",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1370,
        "y": 560,
        "wires": [
            [
                "b088361133bdc768"
            ],
            [
                "ee06cccf96342514"
            ]
        ]
    },
    {
        "id": "b088361133bdc768",
        "type": "change",
        "z": "e6522ded6650bf79",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 540,
        "wires": [
            [
                "384fc77a62a7a75c"
            ]
        ]
    },
    {
        "id": "ee06cccf96342514",
        "type": "change",
        "z": "e6522ded6650bf79",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "black",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 580,
        "wires": [
            [
                "384fc77a62a7a75c"
            ]
        ]
    },
    {
        "id": "32eade24f113d2b1",
        "type": "change",
        "z": "e6522ded6650bf79",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wlbh",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "c893d29d54d728ab",
        "type": "inject",
        "z": "e6522ded6650bf79",
        "name": "0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1110,
        "y": 500,
        "wires": [
            [
                "32eade24f113d2b1",
                "df833701a3c3ba89"
            ]
        ]
    },
    {
        "id": "6e3cc620fdc3aa66",
        "type": "inject",
        "z": "e6522ded6650bf79",
        "name": "1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 1110,
        "y": 560,
        "wires": [
            [
                "df833701a3c3ba89",
                "32eade24f113d2b1"
            ]
        ]
    },
    {
        "id": "3c8caecd4f97a806",
        "type": "inject",
        "z": "e6522ded6650bf79",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "wlbh",
        "payloadType": "flow",
        "x": 1130,
        "y": 620,
        "wires": [
            [
                "df833701a3c3ba89"
            ]
        ]
    }
]